.body{
  height: 100%;
  background-color: #ddd;

}
.container{
  padding-top: 50px;
}
.heading{
  text-align: center;
}
.card{
  text-align: left;
  padding: inherit;
  padding: 50px;
  background-color: white;
  max-width: 400px;
  margin: auto;
}
 button a{
  color: white;
}
