.navbar-brand{
  font-family: 'Kaushan Script', cursive;
  font-weight: 600;
  font-size: 30px;
  color: #d4a81e;
}


li{
  margin-top: auto !important;
  margin-bottom: auto !important;
  vertical-align: bottom;

}
.carousel-item3 a .slide{
   background-color: transparent;
   margin: auto;
 }

    .slide img{
      background-color: transparent;
      margin: auto;
      min-width: 200px;

      max-width: 250px;
      height: 250px;
    }

@media (max-width: 990px){
  #Resume{
    width: 100vw;
    z-index: 0 !important;
    height: auto;
    position: relative !important;
  }
}
#start{
  background-color: #d4a81e;

}
#start  a:hover{
  font-weight: bold;
  color: white
}
@media  (max-width: 768px)
{
  .carousel-item3{
    margin: auto;
  }

  .slide img{
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;

    margin: auto;
    width: 200px;
    height: 250px;
  }


}
.choose{
color: #12385b;
  font-size: 17px;
}

.services .media {
    margin: 40px 0;
}
.media {
    display: flex;
    align-items: flex-start;
}
.top_content{
  background-image: url("images/img6.png");
  background-size: cover;
}

.carousel-item .slide{
  background-color: #12385b;
  max-width: 400px;
  min-width: 200px;
  padding: 10px;
}
.carousel-item p{
  color: white;
}
